{
    "watch": [
        {
            "from": "上海",
            "to": "北京",
            "date": "20241001",
            "trains": [
                {
                    "code": "G2",
                    "from": "上海",
                    "to": "北京南"
                }
            ]
        }
    ],
    "notification": {
        "wecomChan": {
            "agentId": "",
            "secret": "",
            "companyId": ""
        },
    }
    "interval": 15,
    "delay": 5
}
